html {
    font-size: 1.5rem;
}

body {
    background-color: #333333;
    margin: 0 auto;
}

header {
    background-color: rgba(18, 18, 18, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 0;
}

.frases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.Profile {
    font-size: 1rem;
    text-decoration: none;
    color: snow;
    transition: 0.5s;
    font-family: Roboto;
    margin-right: 2%;
    background-color: transparent;
    border: none;
}

.Profile:hover {
    font: 1rem;
    text-decoration: none;
    color: turquoise;
    transition: 0.5s;
    font-family: Roboto;
}

.logo {
    width: 75px;
    margin-left: 2%;
}

h1 {
    margin-top: 130px;
    color: snow;
    font-family: Roboto;
    /*margin-left: 435px;*/
    transition: 0.4s;
}

h1:hover {
    margin-top: 130px;
    color: turquoise;
    font-family: Roboto;
    /*margin-left: 435px;*/
    transition: 0.4s;
    cursor: default;
}

p {
    color: snow;
    font-family: Roboto;
    margin-top: -16px;
    transition: 0.4s;
}

p:hover {
    color: turquoise;
    font-family: Roboto;
    margin-top: -16px;
    transition: 0.4s;
    cursor: default;
}

body.white {
    background: #ffffff;
}

.white h1 {
    color: rgb(12, 12, 12);
}

.white h1:hover {
    color: rgb(233, 8, 8);
}

.white p {
    color: rgb(12, 12, 12);
}

.white p {
    color: rgb(12, 12, 12);
}

.white p:hover {
    color: rgb(233, 8, 8);
}

.white header {
    background-color: rgba(226, 225, 225, 0.5);
}

.white .Profile {
    color: rgb(12, 12, 12);
}

.white .Profile:hover {
    color: rgb(233, 8, 8);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin-top: 200px;
    margin-left: 25px;
    background-color: #131313;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 40px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.white .label {
    background-color: rgb(31, 111, 148);
}

.moon {
    width: 15px;
    margin-left: -15px;
}

.sun {
    width: 18px;
}

footer {
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    padding: 1% 0;
}